<h1>Update {{peripheral.make}} {{peripheral.model}}:</h1>

<form id="update-user" action="/users" method="post">
      <fieldset>
        <label>Equipment Type:
          <select name="type_input" id="type_input" required>
            <option hidden disabled disabled selected value> -- select an option -- </option>
            <option value="Keyboard">Keyboard</option>
            <option value="Mouse">Mouse</option>
            <option value="Webcam">Webcam</option>
            <option value="Monitor">Monitor</option>
            <option value="Headset">Headset</option>
            <option value="Dock">Dock</option>
          </select>
        *</label><br>

        <label> Make:
          <input type="text" maxlength="25" name="make_input" id="make_input" required>
        *</label><br>

        <label>Model:
          <input type="text" maxlength="25" name="model_input" id="model_input" required>
        *</label><br>

        <label>User:
          <select name="user">
          <option hidden disabled selected value> -- select an option -- </option>
            {{#each user}}
            <option value="{{Id}}">{{pref_email}}</option>
            {{/each}}
          </select>
        </label><br>

        <button onclick="updateUser({{user.Id}})">Edit User</button>
      </fieldset>
    </form>
    
    <script>selectLocation({{user.home_office}});</script>